Machine Learing algorithm comparisons

In [4]:
import numpy as np
import pandas as pd

Import encoded dataframe

In [5]:
df = pd.read_pickle("df.pkl")

In [6]:
df

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BldgType,BsmtCond,BsmtExposure,BsmtQual,CentralAir,...,TotalProchSF,MasVnr_BrkCmn,MasVnr_BrkFace,MasVnr_None,MasVnr_Stone,MasVnr_Unknown,Pool_Ex,Pool_Fa,Pool_Gd,Pool_Unknown
Id,,,,,,,,,,,,,,,,,,,,,
1,856,854,0,NaN,3,1Fam,TA,No,Gd,Y,...,61,0.0,196.0,0.0,0.0,0.0,0,0,0,0
2,1262,0,0,NaN,3,1Fam,TA,Gd,Gd,Y,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
3,920,866,0,NaN,3,1Fam,TA,Mn,Gd,Y,...,42,0.0,162.0,0.0,0.0,0.0,0,0,0,0
4,961,756,0,NaN,3,1Fam,Gd,No,TA,Y,...,307,0.0,0.0,0.0,0.0,0.0,0,0,0,0
5,1145,1053,0,NaN,4,1Fam,TA,Av,Gd,Y,...,84,0.0,350.0,0.0,0.0,0.0,0,0,0,0
6,796,566,320,NaN,1,1Fam,TA,No,Gd,Y,...,350,0.0,0.0,0.0,0.0,0.0,0,0,0,0
7,1694,0,0,NaN,3,1Fam,TA,Av,Ex,Y,...,57,0.0,0.0,0.0,186.0,0.0,0,0,0,0
8,1107,983,0,NaN,3,1Fam,TA,Mn,Gd,Y,...,432,0.0,0.0,0.0,240.0,0.0,0,0,0,0
9,1022,752,0,NaN,2,1Fam,TA,No,TA,Y,...,205,0.0,0.0,0.0,0.0,0.0,0,0,0,0
10,1077,0,0,NaN,2,2fmCon,TA,No,TA,Y,...,4,0.0,0.0,0.0,0.0,0.0,0,0,0,0
11,1040,0,0,NaN,3,1Fam,TA,No,TA,Y,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
12,1182,1142,0,NaN,4,1Fam,TA,No,Ex,Y,...,21,0.0,0.0,0.0,286.0,0.0,0,0,0,0
13,912,0,0,NaN,2,1Fam,TA,No,TA,Y,...,176,0.0,0.0,0.0,0.0,0.0,0,0,0,0
14,1494,0,0,NaN,3,1Fam,TA,Av,Gd,Y,...,33,0.0,0.0,0.0,306.0,0.0,0,0,0,0
15,1253,0,0,NaN,2,1Fam,TA,No,TA,Y,...,389,0.0,212.0,0.0,0.0,0.0,0,0,0,0
16,854,0,0,NaN,2,1Fam,TA,No,TA,Y,...,112,0.0,0.0,0.0,0.0,0.0,0,0,0,0
17,1004,0,0,NaN,2,1Fam,TA,No,TA,Y,...,0,0.0,180.0,0.0,0.0,0.0,0,0,0,0
18,1296,0,0,NaN,2,Duplex,NaN,NaN,NaN,Y,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
19,1114,0,0,NaN,3,1Fam,TA,No,TA,Y,...,102,0.0,0.0,0.0,0.0,0.0,0,0,0,0
20,1339,0,0,NaN,3,1Fam,TA,No,TA,Y,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
21,1158,1218,0,NaN,4,1Fam,TA,Av,Ex,Y,...,154,0.0,380.0,0.0,0.0,0.0,0,0,0,0
22,1108,0,0,Grvl,3,1Fam,TA,No,TA,Y,...,205,0.0,0.0,0.0,0.0,0.0,0,0,0,0
23,1795,0,0,NaN,3,1Fam,TA,No,Gd,Y,...,159,0.0,281.0,0.0,0.0,0.0,0,0,0,0
24,1060,0,0,NaN,3,TwnhsE,TA,No,Gd,Y,...,110,0.0,0.0,0.0,0.0,0.0,0,0,0,0
25,1060,0,0,NaN,3,1Fam,TA,Mn,TA,Y,...,90,0.0,0.0,0.0,0.0,0.0,0,0,0,0
26,1600,0,0,NaN,3,1Fam,TA,No,Gd,Y,...,56,0.0,0.0,0.0,640.0,0.0,0,0,0,0
27,900,0,0,NaN,3,1Fam,TA,Mn,TA,Y,...,32,0.0,0.0,0.0,0.0,0.0,0,0,0,0
28,1704,0,0,NaN,3,1Fam,TA,No,Ex,Y,...,50,0.0,0.0,0.0,200.0,0.0,0,0,0,0
29,1600,0,0,NaN,2,1Fam,TA,Gd,TA,Y,...,258,0.0,0.0,0.0,0.0,0.0,0,0,0,0
30,520,0,0,NaN,1,1Fam,TA,No,TA,N,...,87,0.0,0.0,0.0,0.0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2890,641,0,0,NaN,2,1Fam,TA,No,TA,Y,...,70,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2891,967,671,0,NaN,4,1Fam,TA,No,TA,Y,...,21,0.0,327.0,0.0,0.0,0.0,0,0,0,0
2892,729,0,0,NaN,2,1Fam,NaN,NaN,NaN,N,...,23,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2893,1060,336,0,NaN,4,2fmCon,TA,Mn,TA,N,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2894,576,360,0,NaN,2,1Fam,Fa,No,Fa,N,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2895,1778,0,0,NaN,2,TwnhsE,TA,Gd,Ex,Y,...,206,0.0,0.0,0.0,473.0,0.0,0,0,0,0
2896,1646,0,0,NaN,2,TwnhsE,TA,Gd,Ex,Y,...,208,0.0,0.0,0.0,186.0,0.0,0,0,0,0
2897,1625,0,0,NaN,3,1Fam,TA,Gd,Gd,Y,...,28,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2898,1664,0,0,NaN,4,Duplex,TA,Mn,TA,Y,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2899,1491,0,0,NaN,3,1Fam,TA,No,Ex,Y,...,100,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2900,1210,0,0,NaN,3,1Fam,TA,Av,TA,Y,...,0,0.0,257.0,0.0,0.0,0.0,0,0,0,0
2901,1650,0,0,NaN,2,1Fam,TA,Gd,Gd,Y,...,138,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2902,1403,0,0,NaN,2,1Fam,TA,Av,Gd,Y,...,173,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2903,1960,0,0,NaN,3,1Fam,Gd,Av,Ex,Y,...,38,0.0,0.0,0.0,198.0,0.0,0,0,0,0
2904,1838,0,0,NaN,3,1Fam,TA,Gd,Gd,Y,...,225,0.0,382.0,0.0,0.0,0.0,0,0,0,0
2905,1600,0,0,NaN,3,1Fam,NaN,NaN,NaN,Y,...,135,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2906,1368,0,0,NaN,2,Duplex,TA,Gd,Gd,Y,...,48,0.0,200.0,0.0,0.0,0.0,0,0,0,0
2907,616,688,0,NaN,3,TwnhsE,TA,Mn,Gd,Y,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2908,874,0,0,NaN,3,1Fam,TA,No,TA,Y,...,120,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2909,1652,0,0,NaN,4,Duplex,TA,No,TA,Y,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2910,630,0,0,NaN,1,Twnhs,TA,Av,Gd,Y,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2911,546,546,0,NaN,3,TwnhsE,TA,No,TA,Y,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2912,1360,0,0,NaN,3,1Fam,TA,Av,TA,Y,...,0,0.0,194.0,0.0,0.0,0.0,0,0,0,0
2913,546,546,0,NaN,3,Twnhs,TA,No,TA,Y,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2914,546,546,0,NaN,3,Twnhs,TA,No,TA,Y,...,34,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2915,546,546,0,NaN,3,Twnhs,TA,No,TA,Y,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2916,546,546,0,NaN,3,TwnhsE,TA,No,TA,Y,...,24,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2917,1224,0,0,NaN,4,1Fam,TA,No,TA,Y,...,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2918,970,0,0,NaN,3,1Fam,TA,Av,Gd,Y,...,32,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2919,996,1004,0,NaN,3,1Fam,TA,Av,Gd,Y,...,48,0.0,94.0,0.0,0.0,0.0,0,0,0,0